body {
    font-family: Lexend;
    background-color: #FFF1C2;
    color: #538BBC;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Alfa Slab One;
    text-align: center;
}

h1 {
    font-size: 40pt;
}

h2 {
    font-size: 35pt;
}

header {
    text-align: center;
    align-items: center;
}

#title img {
    width: 80px;
}

/* Hero Section */

#hero, footer {
    color: #38588F;
    border: 5px solid #AED0FA;
    background-color: #D8B261;
    text-align: center;
    padding:10px;
}

#hero img {
    width: 350px;
}

/* Bio Section */

#bio {
    text-align: center;
    font-size: x-large;
}

/* Hobbies Section */

#hobbies {
    font-size: x-large;
    font-style: oblique;
}

#hobbies ul li:nth-child(3n+1) {
    color: blueviolet;
}

#hobbies ul li:nth-child(3n+2) {
    color: magenta;
    text-indent: 1%;
}

#hobbies ul li:nth-child(3n) {
    color: red;
    text-indent: 2%;
}

/* Gallery Section */

#gallery {
    border: 2px solid #AED0FA;
    background-color: black;
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align: center;
}